<!DOCTYPE html>

<html>
    <head>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <div class="main-content">
              {{>header}}
              <p>{{helpfultext}}</p>
        </div>
        <!--<h1>help</h1>-->
        {{>footer}}
    </body>
</html>